
@import 'mixins';
@import 'variables';

/* Demo code */

html {
  font-size: $font-size-base;
}

.github-corner {
  position: fixed;
  right: 0;
  top: 0;
  border-bottom: 0;
  text-decoration: none;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  & svg {
    height: 80px;
    width: 80px;
    color: #333;
    fill: #2cc1fb;
    fill: var(--theme-color, #2cc1fb);
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: $font-base;
  background: #333;
}

hgroup {
  margin: 0 auto 80px;
  text-align: center;

  img {
    margin: 90px auto 0;
    display: block;
    max-width: 500px;
  }

  cite {
    color: #fff;
    z-index: 999999999;
    position: relative;
  }
}

a {
  color: #2cc1fb;
}

footer {
  margin-top: auto;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

////
// Module code
////

.kompletr {

  &.form--search {
    width: 400px;
    max-width: 400px;
    position: relative;
    margin: 0 auto;

    -webkit-box-shadow:0px 0px 105px 45px rgba(44,193,251,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(44,193,251,0.9);
    box-shadow: 0px 0px 105px 45px rgba(44,193,251,0.9);

    @media (max-width: 480px) {
      width: 90%;
    }
  }
  
  .input--search,
  .item--result {
    font-family: $font-base;
    font-size: 100%;
  }
  
  .input--search {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 10px;
    width: 100%;
    min-width: 240px;
    max-width: 600px;
    height: auto;
    font-size: 1.2rem;
    line-height: 1.5;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }
  
  .form--search__result {
    position: absolute;
    margin: 0;
    width: 100%;
  }
  
  .item--result {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: none;
    border-right: none;

    &:last-child {
      border-bottom: none !important;
    }

    &:hover, &.focus {
      cursor: pointer;
      @include transition(0.2s ease-in-out);
    }

    & .item--data {
      flex: 50%;

      &:nth-child(even) {
        text-align: right;
      }

      &:nth-child(n+0) {
        font-weight: 600;
      }

      &:nth-child(n+2) {
        font-weight: normal;
      }
    }
  }

  &.light {
    .input--search {
      color: $color-4;
      background: $color-1;
    }

    ::placeholder {
      color: $color-2;
    }

    .item--result {
      border-bottom: 1px dashed $color-3;
      @include backdrop(16px, 180%, 0.80);

      .item--data {
        &:nth-child(n+0) {
          color: $color-8;
        }
  
        &:nth-child(n+2) {
          color: $color-4;
        }
      }

      &:hover,
      &.focus {
        @include backdrop(26px, 120%, 0.40);
        
        .item--data {
          &:nth-child(n+0),
          &:nth-child(n+2) {
            color: $color-8;
          }
        }
      }
    }
  }

  &.dark {
    .input--search {
      color: $color-1;
      background: $color-8;
    }

    ::placeholder {
      color: $color-2;
    }

    .item--result {
      border-bottom: 1px dashed $color-7;
      @include backdrop(16px, 180%, 0.80, 'dark');

      .item--data {
        &:nth-child(n+0) {
          color: $color-3;
        }
  
        &:nth-child(n+2) {
          color: $color-5;
        }
      }

      &:hover,
      &.focus {
        @include backdrop(26px, 120%, 0.40, 'dark');
        
        .item--data {
          &:nth-child(n+0),
          &:nth-child(n+2) {
            color: $color-1;
          }
        }
      }
    }
  }
}