
@import 'mixins';
@import 'variables';

/* Demo code */

html {
  font-size: $font-size-base;
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
  & svg {
    color: #fff;
    fill: #333;
    fill: var(--theme-color, #333);
    height: 80px;
    width: 80px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font-base;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,255,189,1) 50%, rgba(255,251,125,1) 100%);
}

hgroup {
  text-align: center;
  margin: 0 auto 40px auto;
}

h1 {
  font-family: $font-title;
  font-size: 7rem;
  margin: 3rem auto 0 auto;
}

a {
  color: #333;
}

footer {
  color: #333;
  text-align: center;
  margin-top: auto;
}
////
// Module code
////

.kompletr {

  &.form--search {
    width: 30%;
    position: relative;
    margin: 0 auto;
    @media (max-width: 480px) {
      width: 90%;
    }
  }
  
  .input--search,
  .item--result {
    font-family: $font-base;
    font-size: 100%;
  }
  
  .input--search {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 10px;
    width: 100%;
    min-width: 240px;
    max-width: 600px;
    height: auto;
    font-size: 1.2rem;
    line-height: 1.5;
    color: $color-4;
    border: none;
    background: $color-1;
    &:focus {
      border: none;
      outline: none;
    }
  }
  
  ::placeholder {
    color: $color-2;
  }
  
  .form--search__result {
    position: absolute;
    margin: 0;
    width: 100%;
  }
  
  /* Block one item result */
  .item--result {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px dashed $color-3;
    border-left: none;
    border-right: none;
    color: $color-6;

    &.last, &:last-child {
      border-bottom: none;
    }

    &:hover, &.focus {
      cursor: pointer;
      backdrop-filter: blur(26px) saturate(120%);
      -webkit-backdrop-filter: blur(26px) saturate(120%);
      background-color: rgba(255, 255, 255, 0.50);
      color: $color-5;
      @include transition(0.2s ease-in-out);
      & .data-1, & .data-2 {
        color: $color-5;
      }
    }
    & .data-0  {
      float: left;
      color: $color-5;
      margin: 0 0 3px 0;
      font-weight: 600;
    }
    & .data-1, & .data-2 {
      display: block;
      color: $color-2;
      font-weight: normal;
    }
    & .data-1 {
      float: right;
    }
    & .data-2 {
      clear: both;
    }
    & span:nth-child(n+4) {
      display: block;
      width: 100%;
      margin: 5px 0;
      font-size: 0.8em;
    }
  }
}