@use 'mixins';
@use 'variables';

////
// Module code
////

.kompletr {
  .container--search-results {
    position: absolute;
    margin: 0;
    width: 100%;
  }

  .item--row {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    font-size: 100%;

    &:last-child {
      border-bottom: none !important;
    }

    &:hover,
    &.focus {
      cursor: pointer;

      @include mixins.transition(0.2s ease-in-out);
    }

    .item--property {
      flex: 50%;

      &:nth-child(even) {
        text-align: right;
      }

      &:nth-child(n + 0) {
        font-weight: 600;
      }

      &:nth-child(n + 2) {
        font-weight: normal;
      }
    }
  }

  &.light {
    .item--row {
      color: variables.$color-8;
      border-bottom: 1px dashed variables.$color-3;

      @include mixins.backdrop(16px, 180%, 0.8);

      &:hover,
      &.focus {
        @include mixins.backdrop(26px, 120%, 0.4);

        .item--property {
          &:nth-child(n + 0),
          &:nth-child(n + 2) {
            color: variables.$color-8;
          }
        }
      }
    }

    .item--property {
      &:nth-child(n + 0) {
        color: variables.$color-8;
      }

      &:nth-child(n + 2) {
        color: variables.$color-4;
      }
    }
  }

  &.dark {
    .item--row {
      color: variables.$color-3;
      border-bottom: 1px dashed variables.$color-7;

      @include mixins.backdrop(16px, 180%, 0.8, 'dark');

      &:hover,
      &.focus {
        @include mixins.backdrop(26px, 120%, 0.4, 'dark');
        
        .item--property {
          &:nth-child(n + 0),
          &:nth-child(n + 2) {
            color: variables.$color-1;
          }
        }
      }
    }

    .item--property {
      &:nth-child(n + 0) {
        color: variables.$color-3;
      }

      &:nth-child(n + 2) {
        color: variables.$color-5;
      }
    }
  }
}
