# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea

# Node modules, can be retrieved by npm
node_modules

# Must be launched by plato
tests/report

# Retrieved by bower
src/vendors/*

# Do not push build and local api
build/
api/

# Do not push vitepress docs
docs/.vitepress/dist
docs/.vitepress/cache