/* Module code */
.form--search {
  margin: 0;
  padding: 0;
}
.form--light-search {
  width: 30%;
  position: relative;
  margin: 0 auto;
}
.input--search,
.item--result {
  font-family: 'Open Sans', Helvetica, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}
.input--search {
  display: block;
  width: 100%;
  min-width: 240px;
  max-width: 600px;
  height: auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  padding: 15px 5px;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin: 0 auto;
}
.form--search__result {
  position: absolute;
  margin: 0;
  width: 100%;
}
/* Block one item result */
.item--result {
  width: 100%;
  background: #fff;
  border-bottom: 1px dashed #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  padding: 5px 5px;
  color: #333;
}
.item--result.last,
.item--result:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.item--result:hover,
.item--result.focus {
  cursor: pointer;
  color: #fff;
  background: #637c8e;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.item--result .data-0 {
  float: left;
  margin: 0 0 3px 0;
}
.item--result .data-1,
.item--result .data-2 {
  display: block;
  color: #c0c0c0;
  font-weight: normal;
}
.item--result .data-1 {
  float: right;
}
.item--result .data-2 {
  clear: both;
}
.item--result span:nth-child(n+4) {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 0.8em;
}
