/* Module code */
.form--search {
  margin: 0;
  padding: 0;
}

.form--light-search {
  width: 30%;
  position: relative;
  margin: 0 auto;
}

.input--search,
.item--result {
  font-family: @font-base;
  font-size: 100%;
}

.input--search {
  display: block;
  width: 100%;
  min-width: 240px;
  max-width: 600px;
  height: auto;
  font-size: 1rem;
  line-height: 1.5;
  color: @color_0;
  padding: 15px 5px;
  border: 1px solid @color_1;
  background: @color_2;
  margin: 0 auto;
}

.form--search__result {
  position: absolute;
  margin: 0;
  width: 100%;
}

/* Block one item result */
.item--result {
  width: 100%;
  background: @color_2;
  border-bottom: 1px dashed @color_1;;
  border-left: 1px solid @color_1;;
  border-right: 1px solid @color_1;
  padding: 5px 5px;
  color: @color_0;
  &.last, &:last-child {
    border-bottom: 1px solid @color_1;
  }
  &:hover, &:focus {
    cursor: pointer;
    color: @color_2;
    background: @color_4;
    .transition(all 0.2s ease-in-out);
  }
  & .data-0  {
    float: left;
    margin: 0 0 3px 0;
  }
  & .data-1, & .data-2 {
    display: block;
    color: @color_5;
    font-weight: normal;
  }
  & .data-1 {
    float: right;
  }
  & .data-2 {
    clear: both;
  }
}