name: Release
on:
  push:
    tags:
      - v*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      RUNNER: github
      NODE_ENV: dev
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
      - name: Install global Node.js dependencies
        run:  npm i node-sass -g
      - name: Install local Node.js dependencies
        run:  npm i
      - name: Build local project
        run:  npm run build
      - name: Build production
        run:  npm run prod
      - name: Lint
        run:  npm run lint:js
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: |
            build
          retention-days: 3
  unit-tests:
    name: UT's
    runs-on: ubuntu-latest
    needs: [ build ]
    env:
      RUNNER: github
      NODE_ENV: dev
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
      - name: Install Node.js dependencies
        run:  npm i
      - name: Run unit tests
        run: npm run ci:test
        env:
          CI: true
      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./build/code-coverage/lcov.info
  e2e-tests:
    name: E2E
    runs-on: ubuntu-latest
    needs: [ build ]
    env:
      RUNNER: github
      NODE_ENV: dev
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
      - name: Install global OS dependencies
        run: sudo apt-get install libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libnss3 libxss1 libasound2 libxtst6 xauth xvfb
      - name: Install local Node.js dependencies
        run:  npm i
      - name: Create build directory
        run: mkdir build
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: build
      - name: Run E2E tests
        run: npm run ci:dev & npm run ci:e2e
        env:
          CI: true
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files-e2e
          path: |
            build
          retention-days: 3
  release-github:
    name: Github release
    runs-on: ubuntu-latest
    needs: [ unit-tests, e2e-tests ]
    steps:
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashfiles('**/package-lock.json') }}
      - name: Github checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
      - name: Create Github release
        uses: konfer-be/action-create-release-from-tag@v1.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  release-npm:
    name: NPM release
    runs-on: ubuntu-latest
    needs: [ unit-tests, e2e-tests ]
    steps:
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashfiles('**/package-lock.json') }}
      - name: Github checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Create dist directory
        run: mkdir -p dist
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: dist
      - name: Create NPM release
        run: npm ci & npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.KONFER_NPM_TOKEN }}
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [ release-github, release-npm ]
    steps:
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashfiles('**/package-lock.json') }}
      - name: Github checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18.19.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Install global Node.js dependencies
        run:  npm i node-sass -g
      - name: Install local Node.js dependencies
        run:  npm i
      - name: Build demo
        run: npm run demo
      - name: Deploy demo using SCP
        uses: garygrossgarten/github-action-scp@release
        with:
          local: demo
          remote: ${{ vars.KONFER_SSH_TARGET }}
          host: ${{ secrets.KONFER_SSH_HOST }}
          username: ${{ secrets.KONFER_SSH_USER }}
          password: ${{ secrets.KONFER_SSH_PWD }}
      - name: Build documentation
        run: docs:build
      - name: Deploy documentation using SCP
        uses: garygrossgarten/github-action-scp@release
        with:
          local: docs
          remote: "${{ vars.KONFER_SSH_TARGET }}/docs"
          host: ${{ secrets.KONFER_SSH_HOST }}
          username: ${{ secrets.KONFER_SSH_USER }}
          password: ${{ secrets.KONFER_SSH_PWD }}